In [1]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [3]:
a="123"
for char in a:
    print(char,end=' ')

1 2 3

In [5]:
for x in range(10):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [7]:
#print even numbers in descending order 1 to 100
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [9]:
for i in range(2,10):
    print(i,end=' ')

2 3 4 5 6 7 8 9

In [11]:
#write a for loop to print all the add numbers between 10 and 50.
for i in range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [13]:
print(list(range(100,1,-2)))

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [17]:
# to print sum of n whole numbers
a=[1,2,3,4]
sum1=0#initialization
for i in a:
    sum1=sum1+i
print("Sum:",sum1)

Sum: 10

In [23]:
#to print sum of n whole numbers
a=[1,2,3,4]
sum1=0
for i in a:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [25]:
#program to iterate through a list using indexing
genre = ['pop','rock','jazz','sapna']
#iterate over the list using index
for i in range(1):
    print("I like",genre[i])

I like pop

In [29]:
#write a python program to get all the even numbers from 11 to 50(inclusive)
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 10
enter upper bound values: 30

10,12,14,16,18,20,22,24,26,28,30,

In [40]:
n=int(input("enter the number:"))
for i in range(n):
      print("*",end=" ")

enter the number: 5

* * * * *

In [42]:
a=int(input())
b=int(input())
if a%2==0:
    print(list(range(a,b,2)))
    print(list(range(a,b,2)))
    #incomplete

 5
 3

In [ ]:
#python program sum of even numbers in between given range
lb=int(input())
ub

In [44]:
for num in eange(1,101):
    if num%5==0 and num%7!=0:
        print(num)

NameError: name 'eange' is not defined

SET COMPREHENSION

In [47]:
movies = ['departed','titanic','aviator','avatar','2012']
a=set()
for i in movies:
    a.add(len(i))
a

{4, 6, 7, 8}

In [49]:
movies=['departed','titanic','aviator','avatar','2012']
{len(i) for i in movies}

{4, 6, 7, 8}